.el-tabs--border-card > .el-tabs__content {
  padding: 0 !important;
}
.el-tabs--border-card > .el-tabs__header {
  border-bottom: 0 !important;
}

.el-table th.el-table__cell {
  background-color: #f8f8f9 !important;
}

.el-form--inline .el-form-item {
  margin-right: 10px !important;
  margin-bottom: 0 !important;
}

.el-input__wrapper:hover:has(input[readonly]),
.el-input__wrapper.is-focus:has(input[readonly]) {
  box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color))
    inset;
}
