.el-tabs--border-card > .el-tabs__content {
  padding: 0 !important;
}
.el-tabs--border-card > .el-tabs__header {
  border-bottom: 0 !important;
}

.el-table th.el-table__cell {
  background-color: #f8f8f9 !important;
}

.el-form--inline .el-form-item {
  margin-right: 10px !important;
  margin-bottom: 0 !important;
}
