@use './reset';
@use './element-plus';

.card-box {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e4e7ed;
}

.row-fixed {
  height: 100%;
  display: flex;
  gap: 20px;
  .col-fixed {
    flex: 0 0 380px;
  }
  .col-flex {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.pagination-box {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #fff;
  border-radius: 4px;
}

.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}

.upload {
  width: 240px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px dashed #dcdfe6;
  border-radius: 4px;
  color: #999;
  cursor: pointer;
  > span {
    font-size: 12px;
  }
  &:hover {
    border-color: #c0c4cc;
  }
}
